body {
    background-color: #4CAB72;
    margin: 0;
    padding: 0;
}

.hero {
    height: 1000px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* position: relative; */
    padding: 128px 184px;
    position: relative;
}

.hero img{border-radius: 70px;}

.info {
    width: 700px;
    height: 850px;
    box-sizing: border-box;
    background: linear-gradient(145.36deg, rgba(244, 244, 244, 0.4) -4.23%, rgba(244, 244, 244, 0.2) 102.58%);
position: absolute;
top: 192px;
left:247px;
border-radius: 50px;
border: 3px solid #f4f4f4;
backdrop-filter: blur(5px);
}
.info-title{
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    color:#FFFFFF;
    margin-top: 56px;
    margin-bottom: 0;
}
.text{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}
.span-text{
    color: #62FFB4;
    text-decoration: none;
}
.signup-form{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
        color: #FFFFFF;
        padding: 0 116px 0 68px;
        margin-top: 81px;
}
.input {
border: none;
border-bottom: solid 3px #F4F4F4;
background-color: transparent;
margin-top: 24px;
}
.input-label:not(:first-child){
    margin-top: 24px;
}
#password {
    margin-bottom: 46px;
}
.button {
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    padding: 12px 0 12px 0;
    width: 290px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(105, 105, 105, 1);;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    background: #62FFB4;
}
.down-text{
    font-family: 'Poppins', sans-serif;
        color: #FFFFFF;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        margin-top: 43px;
        display: flex;
        align-items: center;
}

.down-text::before {
    content: "";
border: solid 1px #F4F4F4;
   align-items: center;
   width: 210px;
   margin-left: 68px;
   margin-right: 10px;
}